@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;600&display=swap");

:root {
  /* font-family: "Open Sans", sans-serif; */
  /* font-family: "Poppins", sans-serif; */

  --primary-color: hsl(257, 40%, 49%);
  --secondary-color: hsl(300, 69%, 71%);
}

/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* END OF CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  min-height: 100vh;
  color: #fff;
  background-color: var(--primary-color);
}

/* background image and container */

.background {
  background-image: url("./images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  max-width: 1350px;
  padding: 0 2em;
  margin-inline: auto;
}

/* header */
header {
  display: flex;
  padding-top: 60px;
}
.logo {
  width: clamp(11rem, 5vw, 16rem);
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: clamp(5rem, 2vw, 9rem);
}

.hero-img-container {
  width: 100%;
}
.hero-img {
  padding-inline: 0.5em;
}

.hero-content-container {
  max-width: 40rem;
  padding-bottom: 3rem;
  margin: 5rem 0;
  text-align: center;
  margin-inline: auto;
}

.hero-title {
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.75em, 4vw, 3em);
  font-weight: 600;
  margin-inline: auto;
}
.hero-desc {
  line-height: 1.5;
  margin-top: 24px;
  font-size: 1.25rem;
}
.hero-btn {
  display: block;
  padding: 1em 5em;
  margin-top: 2rem;
  border: none;
  border-radius: 250px;
  color: var(--primary-color);
  background-color: #fff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-inline: auto;
}
/* Social links */

.hero-socials-nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.hero-socials-list {
  display: flex;
  gap: 1rem;
}
.hero-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: var(--primary-color);
}

@media screen and (min-width: 1000px) {
  .background {
    background-image: url("./images/bg-desktop.svg");
    background-size: cover;
  }
  main {
    /* position: relative; */
    height: 100vh;
  }

  .logo {
    width: 12.5rem;
  }

  .hero {
    flex-direction: row;
    margin-top: 100px;
    gap: 2rem;
  }

  .hero-image-container {
    min-width: 550px;
    max-width: 725px;
  }
  .hero-content-container {
    justify-content: center;
    max-width: 100%;
    padding: 0;
    padding-top: 1.5rem;
    margin: 0;
    text-align: left;
  }
  .hero-title {
    max-width: 25ch;
    line-height: 1.5;
    letter-spacing: 0.1px;
    font-size: 2.5rem;
    font-weight: 600;
    margin-inline: 0;
  }
  .hero-desc {
    max-width: 50ch;
    margin-top: 1rem;
    font-size: 1rem;
  }
  .hero-btn {
    padding: 0.8em 3.5em;
    margin-top: 1.5rem;
    margin-left: 0;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  .hero-btn:hover {
    color: #fff;
    background-color: var(--secondary-color);
  }

  .hero-img {
    align-self: center;
  }

  .hero-socials-list {
    justify-content: end;
  }

  .hero-socials-nav {
    right: 2rem;
    bottom: 0;
    transform: translateX(0);
  }

  .hero-social-link {
    width: 40px;
    height: 40px;
  }
}
